@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
/* -----manage-notification------------ */

.manage-heading {
  background-color: white;
  padding: 8px 9px;
  border-radius: 0px 0px 11px 11px;
  width: 97%;
}
.manage-heading h3 {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 600;
}
.manage-heading img {
  margin-right: 10px;
}
.Both-container {
  background: rgba(245, 246, 250, 1);
  padding: 21px 14px;
  margin-left: 0px !important;
  border-radius: 10px;
  width: 100%;
}
.card {
  background-color: white;
  border: none;
}
.card-body {
  padding: 25px 34px;
  border-radius: 10px;
}
.card-body h4 {
  font-family: 'Inter';
  font-size: 17px;
  font-weight: 600;
  color: rgba(67, 66, 75, 1);
  background-color: white !important;
  margin-bottom: 20px;
}
.manage-notification-left {
  padding: 16px 21px;
}
.file-upload {
  gap: 2rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.file-upload input {
  width: 65%;
}
/* .file-upload img {
  width: 26%;
  height: 32%;
} */
.right-form {
  padding: 20px;
}
.right-form label {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 500;
  color: rgba(67, 66, 75, 1);
}
.right-form input::placeholder {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  color: rgba(166, 169, 183, 1);
}
.right-form textarea::placeholder {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  color: rgba(166, 169, 183, 1);
}
.send-button {
  background: rgba(31, 40, 105, 1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  color: white;
  width: 60%;
  border-radius: 9px;
  padding: 9px 12px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  border: none;
}
/*------- contact-request------------ */
.dataTables_length {
  display: none;
}
/* .second-manage-heading {
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
} */
/* .range-picker {
  display: flex;
  gap: 4px;
  align-items: center;
}
.range-picker i {
  padding: 10px 10px;
  background: rgba(255, 157, 0, 1);
  border-radius: 26px;
  color: white;
}
.range-picker label {
  display: block;
  font-family: 'Inter';
  font-size: 8px;
  font-weight: 400;
  color: rgba(186, 186, 186, 1);
  line-height: 2px;
}
.range-picker input {
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 600;
  border: none;
} */
.dataTables_-search-filter {
  position: relative;
  right: 0px;
  bottom: 0px;
  top: 0px;
  border-radius: 26px;
  padding: 8px 28px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  background: rgba(236, 238, 255, 1);
}
.dataTables_-search-filter input {
  color: rgba(129, 142, 148, 1);
  border-radius: 26px !important;
  width: 89% !important;
  border: none;
  outline: none;
  background: transparent;
}
.dataTables_-search-filter #notification-icon {
  color: rgba(129, 142, 148, 1);
}
.dataTables_filter {
  position: relative;
  right: 7px;
  bottom: 0px;
  top: 46px;
  border-radius: 26px;
  padding: 4px 6px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  background-color: white;
  width: 20%;
  height: 43px;
}
.dataTables_filter input {
  background: white;
  border-radius: 26px !important;
  width: 89% !important;
  border: none;
  outline: none;
}

.dataTables_filter #notification-icon {
  background: linear-gradient(180deg, #00c6ff 0%, #0072ff 100%);
  padding: 8px 8px;
  border-radius: 20px;
  color: rgba(129, 142, 148, 1);
  font-size: 19px;
}
.table-blog-bar {
  padding: 18px 0px;
}
.table-blog-bar h4 {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  margin: 0px 10px;
  color: rgba(67, 66, 75, 1);
}
.table-top-bar {
  /* display: flex;
  justify-content: space-between; */
  /* padding: 10px 0px; */
  padding: 18px 16px;
}
.table-top-bar h4 {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  margin: 0px 10px;
  color: rgba(67, 66, 75, 1);
}
.filter-button {
  background: rgba(31, 40, 105, 1);
  padding: 6px 22px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 15px;
}
/* ---------"table"-------- */
table.dataTable.no-footer {
  background-color: #f5f6fa;
  border-bottom: none !important;
}
table th::before,
table th::after {
  display: none;
}
table th::after {
  display: none;
}
table.dataTable thead > tr > th.sorting:before,
table.dataTable thead > tr > th.sorting_asc:before {
  display: none !important;
}
table.dataTable thead > tr > th.sorting:after,
table.dataTable thead > tr > th.sorting_asc:after {
  display: none !important;
}
table.dataTable {
  border-radius: 20px;
}
#myTable.dataTable thead > tr > th.sorting,
#myTable.dataTable thead > tr > th.sorting_asc,
#myTable.dataTable thead > tr > th.sorting_desc,
#myTable.dataTable thead > tr > th.sorting_asc_disabled,
#myTable.dataTable thead > tr > th.sorting_desc_disabled,
#myTable.dataTable thead > tr > td.sorting,
#myTable.dataTable thead > tr > td.sorting_asc,
#myTable.dataTable thead > tr > td.sorting_desc,
#myTable.dataTable thead > tr > td.sorting_asc_disabled,
#myTable.dataTable thead > tr > td.sorting_desc_disabled {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgba(31, 40, 105, 1);
}
#myTable.dataTable thead > tr > th.sorting {
  width: 30%;
}
#myTable tbody tr:nth-child(odd) {
  background-color: #f5f6fa;
  /* box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.09); */
}

#myTable tbody tr:nth-child(even) {
  background-color: #f5f6fa;
}

.dataTables_wrapper {
  background: rgba(245, 246, 250, 1);
  /* padding: 25px; */
  /* padding: 0px 34px; */
  border-radius: 8px;
}
.table-container {
  border-radius: 4px;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.03);

  background-color: white;
  padding: 40px;
}
.table-container h4 {
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 600;
  color: rgba(67, 66, 75, 1);
}
.table-heading {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  color: rgba(31, 40, 105, 1);
}
.table-data {
  font-family: 'Poppins';
  font-size: 10px;
  font-weight: 500;
  color: rgba(67, 66, 75, 1);
  /* border: 1px solid rgba(235, 235, 235, 1); */
}
.delete-icon {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  border: none;
}
.contact-thead {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(219, 223, 255, 1);
  border-radius: 19px 20px 0px 0px;
  background-color: white;
}
.delete-icon {
  cursor: pointer;
}
/* ----------------manage-seo -----------*/
table.dataTable.display > tbody > tr.odd > .sorting_1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13px;
  color: rgba(67, 66, 75, 1);
}
table.dataTable.display > tbody > tr.even > .sorting_1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 13px;
  color: rgba(67, 66, 75, 1);
}
.blog-seo {
  padding: 10px 34px;
  background: white;
  border-radius: 10px;
}
.form-cate {
  margin-top: 0px !important;
}
.form-label-category {
  display: block;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: rgba(67, 66, 75, 1);
  margin-top: 17px;
  margin-bottom: 8px;
}
.Add-blogs,
#select-one {
  width: 100%;
  padding: 14px 0px;
  /* border: none; */
}
#select-one {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  color: rgba(166, 169, 183, 1);
  border: none;
  outline: none;
}
#select-one option {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  color: rgba(166, 169, 183, 1);
}
.toolbar-button {
  border: none;
  background: transparent;
}

#formatBlock,
#fontFamily {
  border: none;
}
.toolbar {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 8px 7px;
  margin: 0px 14px;
}
.editor-container {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  background-color: white;
  padding: 11px 0px;
  border-radius: 5px;
  height: 110px;
}
.editor-container textarea {
  border: none;
  resize: none;
  width: 100%;
  outline: none;
  padding: 7px 15px;
}
.meta-form {
  padding: 10px 0px;
}
.meta-box {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.meta-box .meta-label {
  display: block;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: rgba(67, 66, 75, 1);
}

.meta-box .meta-deatiles {
  width: 50%;
}
.meta-deatiles textarea {
  border: none;
  resize: none;
  width: 100%;
  outline: none;
  padding: 7px 15px;
  height: 125px;
  border-radius: 14px;
}
.meta-box .meta-keybord {
  height: 122px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border: none;
}
.meta-upload {
  text-align: center;
}
.meta-upload p {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  color: rgba(67, 66, 75, 1);
}
.meta-upload .meta-input {
  border: 1px solid rgba(31, 40, 105, 1);
}
.form-control {
  outline: none !important;
  border: none !important;
  box-shadow: 0px 1px 2px 0px #0000000d;
  padding: 21px 10px !important;
  resize: none;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: rgba(166, 169, 183, 1);
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}
/* -----------manage-blog---------------- */
.form-booking {
  margin-top: 15px !important;
}
.form-label {
  margin: 7px 2px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  color: rgba(67, 66, 75, 1);
}
.form-label-category {
  display: block;
}
.Add-blogs {
  width: 100%;
  padding: 0px 0px;
}
#select-one {
  width: 100%;
  padding: 14px 0px;
  border: none;
  border-radius: 7px;
}

.toolbar-button {
  border: none;
  background: transparent;
}

#formatBlock,
#fontFamily {
  border: none;
}
.toolbar {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 8px 7px;
  margin: 0px 14px;
}
.editor-container {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  background-color: white;
  padding: 11px 0px;
}
.editor-container textarea {
  border: none;
  resize: none;
  width: 100%;
  outline: none;
  padding: 7px 15px;
}
.meta-box {
  display: flex;
  /* justify-content: space-between; */
  gap: 2rem;
}
.meta-box .meta-label {
  display: block;
}

.meta-box .meta-deatiles {
  width: 50%;
}
.meta-box .meta-keybord {
  height: 122px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 10px;
}
.meta-upload {
  text-align: center;
  background-color: white;
  padding: 35px 9px;
  border-radius: 10px;
}
.meta-upload .meta-image-upload {
  width: 25%;
}
.meta-upload .meta-input {
  border: 1px solid rgba(31, 40, 105, 1);
  width: 80%;
}
.meta-input {
  border: 1px solid rgba(31, 40, 105, 1);
  width: 90%;
  padding: 10px 8px;
  height: 29%;
  border-radius: 6px;
}
.meta-description-second {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
.meta-upload-second {
  width: 50%;
}
.span-first p {
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(191, 191, 191, 1);
  width: 33%;
}
.ADD-button {
  background: rgba(31, 40, 105, 1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  color: white;
  width: 100%;
  border-radius: 6px;
  border: none;
}

/* -----------------manage-seo -----------*/
.dataTables_wrapper {
  background-color: transparent;
}

.seo {
  padding: 10px 16px;
}
.seo-footer {
  background-color: #f8f9fa;
}
.seo-form {
  margin-top: 0%;
}
.add-deatiles {
  background: rgba(31, 40, 105, 1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  color: white;
  width: 100%;
  margin-top: 4%;
  border: none;
  border-radius: 10px;
}
.icon-item {
  /* position: relative; */
  text-decoration: none;
  display: inline;
}
/* .counter {
  position: absolute;
  top: 21px;
  right: 16%;
  color: #fff;
  border-radius: 50%;
  padding: 0px 4px;
  font-size: 11px;
  font-weight: bold;
} */
/* .wishlist-counter {
  background-color: #ff9d00;
} */
/* .bell-icon {
  height: 20px; 
  border: 1px solid #efeeee;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
} */
.custom-image {
  margin-right: 10px;
}
/* ---------------creating-booking ------------- */
.booking-input {
  position: relative;
  display: flex;
}
.booking-input img {
  position: absolute;
  right: 7px;
  top: 13px;
}
.right-form-deatiles {
  padding: 15px;
}
.form-textarea {
  width: 98% !important;
  margin: 0 auto;
  resize: none;
}
.creating-booking {
  background: rgba(31, 40, 105, 1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  color: white;
  width: 47% !important;
  margin: 28px 14px !important;
  border-radius: 3px;
  border: none;
}
/*----------------- create-cuisine --------------*/
.SUBMIT-NOW {
  background: rgba(31, 40, 105, 1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  color: white;
  width: 60%;
  border-radius: 9px;
  padding: 14px 12px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  border: none;
  margin-top: 20px;
}
.add-cuisine {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(30, 158, 90, 1);
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  padding: 9px 9px;
  border-radius: 32px;
  display: flex;
  gap: 1rem;
  background-color: transparent;
  width: 40%;
  color: green;
}
/*------add-package-------- */
.package-upload {
  height: 100%;
  border: none !important;
  gap: 2rem;
  border-radius: 9px;
}
.package-form {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.package-one {
  width: 33%;
}
.package-label {
  display: block;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  color: rgba(67, 66, 75, 1);
}
.package-one .package-control {
  outline: none !important;
  border: none !important;
  box-shadow: 0px 1px 2px 0px #0000000d;
  padding: 15px 10px;
  width: 100%;
  border-radius: 7px;
  color: rgba(166, 169, 183, 1);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
}
.package-submit-now {
  background: rgba(31, 40, 105, 1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  color: white;
  width: 45%;
  border-radius: 9px;
  padding: 10px 12px;
  margin: 10px 0px;
}
.amount-container {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.amount-container .amount-container-heading {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(67, 66, 75, 1);
}
.amount-container .label-text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: rgba(166, 169, 183, 1);
}
.amount-container label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(67, 66, 75, 1);
}
.amount-container input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(101, 116, 207, 1);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.amount-container input[type='radio']:checked::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.package-table {
  margin-top: 30px !important;
}
.package-table thead {
  background-color: white;
  border: 1px solid rgba(219, 223, 255, 1);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch .round-button {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.round-button:checked + .slider {
  background-color: #2196f3;
}

.round-button:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.round-button:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* ------------------------------------ choosen-file*/
.inputfile-upload {
  position: relative;
  display: inline-block;
  width: 366px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.inputfile-upload input[type='file'] {
  display: none;
}

.custom-file-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2px 2px;
  border: 1px solid rgba(31, 40, 105, 1);
  border-radius: 6px;
  background: #fff;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}
#fileName {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
}
.choose-file-btn {
  background: #d2d4e1;
  color: rgba(31, 40, 105, 1);
  padding: 14px 12px;
  border-radius: 4px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
}
/* ------------------------- */
.upload-box {
  position: relative;
  display: inline-block;
  width: 300px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

.upload-box input[type='file'] {
  display: none;
}

.upload-label {
  display: flex;
  align-items: center;
  gap: 41px;
  width: 100%;
  padding: 0px 0px;
  border: 1px solid rgba(31, 40, 105, 1);
  border-radius: 6px;
  background: #fff;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}

#displayFile {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
}

.select-btn {
  background: #d2d4e1;
  color: rgba(31, 40, 105, 1);
  padding: 6px 12px;
  border-radius: 4px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
}
/* ---------- */
.gallery-container {
  position: relative;
  display: inline-block;
  width: 200px;
}

.gallery-container input[type='file'] {
  display: none;
}

.gallery-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2px 2px;
  border: 1px solid rgba(31, 40, 105, 1);
  border-radius: 6px;
  background: #fff;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
}

#selectedImages {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 11px;
  padding: 10px;
}

.upload-btn {
  background: #d2d4e1;
  color: rgba(31, 40, 105, 1);
  padding: 14px 12px;
  border-radius: 4px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 11px;
}
.col-md-10 {
  width: 93% !important ;
  margin: 20px;
}
/*-------- notification-table */
.notification-table thead {
  height: 50px;
}
.notification-table table > tbody > tr {
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.09);
  background-color: white !important;
}
.user-select-input a {
  text-decoration: none;
  color: white !important;
}
