@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #F5F6FA !important;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
 }

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

a{
  text-decoration: none !important;
}
header{
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 2px solid #F5F6FA;
    border-radius: 0px 0px 16px 16px;
    position: fixed;
    z-index: 1;
}
.instachef-admin{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.instachef{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.instachef img {
  width: 100%;
  text-align: center;
  padding: 10px 6px 10px 6px;
  margin-left: 8px;
  height: 75px;
}
.toggle-bar img{
  height: 40px;
  padding: 10px 0px;
  margin-top: 10px;
  width: 30px;

}
.logo {
width: 100%;

}

.nav-item img.default-img {
  display: block;
  transition: all 0.3s ease; 
}

.nav-item img.hover-img {
  display: none; 
}

.nav-item:hover img.default-img {
  display: none; 
}

.nav-item:hover img.hover-img {
  display: block; 
  width: 40px;
}

 */

/* .user-icons{
    display: flex;
    gap: 10px;
    padding-right: 25px;
    align-items: center;
}
.admin-section{
    display: flex;
    gap: 5px;
    align-items: center;
}
.icon-item{
    text-decoration: none;
    display: inline;  
}
#super-admin{
   font-family: "Inter", sans-serif;
   font-weight: 400;
   font-size: 12px;
   color: #BABABA;
   border: none;
   outline: none;
}
.sidebar .expanded{
  width: 20%;
}
.counter {
    position: absolute;
    top: 18px;
    right: 19%;
    color: #fff;
    border-radius: 50%;
    padding: 0px 4px;
    font-size: 11px;
    font-weight: bold;
}
ol, ul{
  padding-left: 5px !important;
}
.wishlist-counter {
    background-color: #FF9D00; 
}
 .right-border{
    height: 55px;
    border: none !important;
 }
 .admin-section{
    margin-top: 0px;
    margin-bottom: 0px;
 }
 .user-icons img{
    border: 1px solid #EFEEEE;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1.85px 6.3px 0px #29489803;
 }
 .admin-text h3{
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-bottom: 0px !important;
  color: #414141;
}
.adminimg{
    border: none !important;
} */
/* ============header================ */
/* .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 92vh;
  display: block !important;
}
.nav::-webkit-scrollbar{
  display: none;
}
.nav-link {
  color: white;
  text-decoration: none;
}
.sidebar h4 {
  font-size: 21px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #43424B;
}
.sidebar .nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 60px;
}
.sidebar .nav-link.active, .sidebar .nav-linkA.active {
  background-color: #6c757d;
  border-radius: 5px;
}
.nav-item p{
  border: 1px solid #fff;
  padding: 4px 5px;
  border-radius: 10px;
  margin-bottom: 0px !important;
}
 .main-content {
  flex: 1;
  background-color: #FAFAFA;
} 
 .last-li{
  padding-top: 50%;
} */

/* .admin-panel {
  display: flex;
  width: 100%;
  overflow-x: hidden; 
}

.main-content {
  min-width: 100%;
  background-color: #F5F6FA;
  margin-left: 4%;
  transition: 0.3s ease;
}

.sidebar {
  width: 60px;
  position: fixed;
  left: 0;
  background-color: #333;
  color: white;
  padding-top: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 20px;
}

.sidebar.show {
  width: 274px;
}

.sidebar.show ~ .main-content {
  margin-left: 270px;
}
.sidebar.show .nav-link{
  gap: 11px;
}

.toggle-bar {
  padding: 10px;
  color: white;
  cursor: pointer;
  top: 10px;
  left: 10px;
  z-index: 2;
  border-radius: 5px;
  }
  .nav {
  list-style: none;
  padding: 20px 0px 20px 10px;
  }
  .nav-link {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  }
  .nav-link:hover {
  background-color: #555;
  border-radius: 5px;
  }
.date{
  border: none;
  outline: none;
}
.user-select-input {
  display: flex;
  flex-direction: column;
  padding: 8px 18px;
}
.user-select-input label {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 2px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
} */
/* =========left========= */
.right{
  width: 80% !important;
  flex: 1 !important;
    background-color: #F5F6FA;
    margin-left: 50px;
}
/* .admin-dashboard{
    width: 93%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 0px 0px 15px 15px;
    padding: 10px 12px;
    margin-top: 70px;
}
.time-piker{
    margin-top: 5px;
}
.dashboard-time, .time{
    display: flex;
    gap: 10px;
    align-items: center;
}
.dashboard-time img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
.time-piker{
    display: flex;
    align-items: center;
    gap: 12px;
}
.time img{
  height: 35px;
  background-color: #FF9D00;
  padding: 6px 8px;
  border-radius: 50px;
}
.time-pikerA p{
    font-family: "Inter",sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #BABABA;
    margin-bottom: 0px !important;
    line-height: 14px;
}
.dateA{
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #414141;
    line-height: 10px;
    outline: none;
    border: none;
} */
/* ============================== */
.admin-user{
  margin-left: 20px;
  width: 93%;
    margin-top: 30px;
}
.stars-section {
    display: flex;
    gap: 15px;
  }

  .card {
    width: 20%;
    background: white;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    border: none !important;
  }
  .admin-card{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  /* #packages{
    background-color: #baf4e6;
  }
  #booking{
    background-color: #b6d2db;
  }
  #chefA{
    background-color: #ccecf6;
  }
  #usersA{
    background-color: #f5c7e0;
  }
  #user{
    background-color: #dfc2f6;
  } */

  .card-icon{
    width: 28% !important;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .card-icon img {
    width: 24px;
    height: 24px;
  }
  .stat-value{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #1F2869;
}
.stat-label{
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #484848;
    margin-bottom: 0px !important;
}

  .wave {
    /* position: absolute; */
    /* bottom: -10px; */
    width: 70%;
  }
  .help-button {
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: linear-gradient(108.8deg, #EB4131 14.42%, #FCA947 100%);
    border-radius: 50%;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  /* =============================== */
  .visitors{
    width: 93%;
    margin-left: 20px;
    display: flex;
    gap: 10px;
    padding-top: 35px;
  }
  .visit{
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
     justify-content: space-between;
     align-items: center;
  }
  .admin-visit{
    width: 55%;
    /* margin-top: 30px; */
  }
  .visit h3{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #43424B;
    margin-bottom: 0px !important;
  }

table.dataTable>tbody>tr>th, table.dataTable>tbody>tr>td{
    border-bottom: 3px solid #F8F9FB !important;
    background-color: white;
    border-top: none!important;
    
}

table.dataTable>thead>tr>th, table.dataTable>thead>tr>td{
    border-bottom: 3px solid #F8F9FB !important;
    outline: none !important;
}

td img{
    vertical-align: middle;
    width: 28px;
    height: 28px;
}

.name img{
    width: 35px;
    vertical-align: middle;
}

#car-name img{
    width: 30px;
}
.toyota-car{
    font-size: 16px;
}
#myTable-2 .dt-inut{
    position: absolute;
    margin-right: 200px !important;
}

.table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, 
table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date{
    text-align: left;
}

.dt-paging-button.current{
    background-color: #13B9E1 !important;
    border-radius: 50px !important;
    color: white !important;
}


.dt-paging label button.current{
    color: white !important;
}

div.dt-container select.dt-input{
    display: none;
}

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
    display: none;
}
#myTable table.dataTable>tbody>tr>th, table.dataTable>tbody>tr>td {
    padding: 8px 5px !important;
}
#myTable .dt-search, .dt-input{
    margin-left: 50px;
}

table.dataTable.row-border>tbody>tr>, table.dataTable.display>tbody>tr>{
    font-family: "Inter";
    font-size: 12px;
    font-weight: 400;
    line-height: 19.36px;
    color: #2E384D;
}

table.dataTable thead>tr>th.dt-orderable-asc, table.dataTable thead>tr>th.dt-orderable-desc, 
table.dataTable thead>tr>td.dt-orderable-asc, table.dataTable thead>tr>td.dt-orderable-desc{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #1F2869;  
}
table.dataTable th.dt-type-numeric{
  text-align: left !important;
}
.dt-search{
    display: none;
}

div.dt-container .dt-search input{
    width: 70%;
    border-radius: 25px !important;
    outline: none !important;
}
td{
    font-size: 12px;
    font-weight: 450;
    font-family: "Inter", sans-serif;
    line-height: 15px;
    color: #43424B;
}
.car-model{
    color: #43424B;
    font-size: 11px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}
.dt-paging{
    display: none !important;
}

#paid-1{
    color: #6E7FAA;
    font-family: "Inter",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: left;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
}
.barIcon{
    width: 22px;
    height: 8px;
}

#paid{
    font-family: "Inter";
    font-size: 12px;
    font-weight: 700;
    line-height: 19.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#2E384D;
}

.div.dt-container div.dt-layout-table>div{
    display: none !important;
}
.trash{
    height: 17px;
    width: 17px;
    cursor: pointer;
}
.combine-shape{
    height: 15px;
    width: 5px;
    cursor: pointer;
}
 .check{
    width: 25%;
 }
table.dataTable td.dt-type-numeric{
    text-align: center !important;
}
/* ====================================== */
#myTableB{
  background-color: #FFFFFF;
}
.package th{
    font-size: 12px;
    color: #1F2869;
    font-family: "Poppins", sans-serif;
    font-weight: 650;
}
.package-date{
  font-size: 12px;
  font-family: "Inter", sans-serif !important;
  font-weight: 500 !important;
  color: #43424B !important;
}
.car-modelA input{
    width: 15%;
}
.bbq-party{
    background: linear-gradient(180deg, #00C6FF 0%, #0072FF 100%);
    padding: 6px;
    border-radius: 20px; 
}
.new-package td{
    font-size: 12px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    line-height: 18px;
}
.party{
    font-size: 13px !important;
    color: #43424B;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0px !important;
    width: 49%;
}
.party span{
    font-size: 11px !important;
    color: #A6A9B7;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
.price{
    color: #1ABCB0;
    font-size: 16px !important;
    text-align: right;
    padding-right: 5px;
}
.tbd{
    color: #A6A9B7 !important;
    font-size: 14px !important;
}
.visit-A{
    background-color: #FFFFFF;
    padding: 14px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.visit-A h3{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #43424B;
    margin-bottom: 0px !important;
  }
  .oval{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
  }
  .oval img{
   width: 43%;
  }

  .edit-iconA{
    height: 17px;
    width: 5px;
}
.delete-iconA{
  width: 16px;
  height: 18px;
}
.editA{
  width: 15px;
  height: 18px;
}
.fa{
    font-size: 17px !important;
    color: #02A0FC;
    vertical-align: super;
    cursor: pointer;
}
.delete{
   width: 25px;
   height: 25px;
}
.edit{
   width: 24px;
   height: 25px;
}
table.dataTable>tbody>tr>{
  padding: 0px 10px !important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 18px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0px;
    right: -6px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00BEFA;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00BEFA;
  }
  
  input:checked + .slider:before {
    transform: translateX(25px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
 #chef{
  color: #989898 !important;
  border: none;
  outline: none;
  cursor: pointer;
 }
 #magaer-user{
  outline: none;
  border: none;
  background: none;
  color: #fff;
 }
 #number{
  color: #fff !important;
  border: 1px solid #fff;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 11px;
 }
 #numberA{
  color: #fff !important;
  border: 1px solid #fff;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 11px;
 }
input{
  vertical-align: middle;
}
.dashboard-log a{
    display: flex;
    gap: 3px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
/* .dashboard-time p{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: left;
    color: #3A3A3A;
    margin-bottom: 0px !important;
} */
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order, table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order, 
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order, table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order, 
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order, table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order, 
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order, table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order{
   display: none !important;
}
.dropdownA {
  width: 195px;
  /* background: white; */
  /* padding: 10px; */
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
}
.dropdown-header {
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dropdown-content {
  display: none;
}
.icon {
  width: 50px;
  transition: transform 0.3s;
}
.dropdownicon{
  font-size: 20px;
  background: linear-gradient(108.8deg, #EB4131 14.42%, #FCA947 100%);
  border-radius: 51px 51px 0px 0px;
  text-align: center;
  color: #FFFFFF;
  width: 41px;
  height: 22px;
}
.dropdownicon.rotated {
  transform: rotate(180deg);
  border-radius: 0px 0px 51px 51px;
  height: 22px;
  font-size: 16px;
}
.dropdown-content p{
    font-size: 12px;
    font-weight: 450;
    font-family: "Poppins", sans-serif;
    color: #333333B2;
    margin-bottom: 0px !important;
}
.dropdown-content img{
  width: 100% !important;
}
  /* ================================== */
.review-visit{
    width: 20%;
    border-radius: 10px;
}
.visit-B{
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
     justify-content: space-between;
     align-items: center;
}
.visit-B h3{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #43424B;
    margin-bottom: 0px !important;
  }
  .review{
    background-color: #F5F6FA;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    /* z-index: 1; */
  }
  .recent-review{
    width: 80%;
    display: flex;
    gap: 2px;
    align-items: center;
  }
  .leftA{
    width: 60%;
  }
  .rightA{
    width: 40%;
  }
  .recent-review img{
    width: 25%;
    height: 75%;
  }
  .review-text span{
    font-family: "Poppins", sans-serif;
    font-size: 8px;
    font-weight: 600;
    color: #1E9E5A;
    margin-bottom: 0px !important;
  }
  .review-text h3{
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #43424B;
    margin-bottom: 0px !important;
  }
  .review-text p{
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #A6A9B7;
    margin-bottom: 0px !important;

  }
  .calander{
    width: 14% !important;
    height: 27% !important;
    vertical-align: text-top;
    margin-right: 3px;
  }

  .left-A{
   padding: 3px;
    display: flex;
    justify-content: space-between;
  }
  .review-show{
    width: 31%;
    cursor: pointer;
  }
  .review-show img{
    width: 25px;
  }
  /* .showIcon{
    background-color: #99e6bd66;
    padding: 6px;
    border-radius: 50%;
  }
 
  .download{
    background-color: #c5eaf5;
    padding: 4px;
    border-radius: 50px;
  } */
.review-contact p{
    font-size: 10px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #333333B2;
    margin-bottom: 0px !important;
}
.review-contact img{
    width: 100%;
}

/* =======================admin-dashboard=============== */
.error-message{
  color: red;
  font-size: 14px;
  font-family: "Inteer", sans-serif;
  font-weight: 500;
}
.forms{
    display: flex;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
  }
.user-login{
    background-color: #F5F6FA;
    padding: 13px 15px;
    border-radius: 10px;
}
  .form-card {
    background: #fff;
    padding: 15px 13px;
    border-radius: 12px;
    width: 48%;
    height: 480px;
  }
  .form-cardA{
    background: #fff;
    padding: 15px 13px;
    border-radius: 12px;
    width: 48%;
    height: 434px;
  }
.admin-form{
    display: flex;
    justify-content: space-between;
}
.admin-form h2 {
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    color: #43424B;
    font-weight: 600;
    /* text-align: center; */
  }
  .admin-form img{
    height: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  .profile-section {
    text-align: center;
    margin-top: 18px;
    cursor: pointer;
  }
.user-profile{
   height: 75px;
   margin-top: 15px;
}
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #FF9D00;
    position: relative;
    display: inline-block;
    background-color: #FFFFFF;
  }

  .edit-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    border: 2px solid orange;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #FF9D00;
  }
  .login-img{
    margin-top: -13px;
    margin-left: -8px;
  }
  .userIcon{
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 25px;
    margin-left: 32px;
    z-index: 1;
  }

  .form-group {
    margin-top: 18px;
  }

  label {
    margin-bottom: 3px;
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #43424B;
    font-family: "Inter", sans-serif;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #A6A9B7 !important;
    font-family: "Poppins", sans-serif;
  }
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1240px !important;
  }
  input:focus {
    outline: none;
    /* border-color: #007bff; */
  }

  button {
    width: 100%;
    padding: 11px;
    background-color: #1F2869;
    box-shadow: 0px 3px 10px 0px #0000001A;
    border-radius: 5px !important;
    color: #FFFFFF;
    border: none;
    font-size: 16px !important;
    cursor: pointer;
    font-family: "Poppins";
    font-weight: 500;
  }
  #updateProfileBtn, #submit{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 450;
    color: #FFFFFF;
    margin-top: 18px;
  }
  #submit{
    margin-top: 18px;
  }
.loginIcon{
    width: 10%;
}  

/* ===================================================== */
.select {
  cursor: pointer;
}
.selected{
  font-weight: 400;
}
.number{
  font-size: 14px;
  padding: 0px 6px;
  border-radius: 10px;
  border: 2px solid #fff;
}
.adminA, .adminB{
  margin: 10px 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
/* ===================== */
#myTable .dataTable>tbody>tr>td{
  padding: 0px 3px !important;
}
#myTableB table.dataTable thead>tr>th.dt-orderable-asc, table.dataTable thead>tr>th.dt-orderable-desc, 
table.dataTable thead>tr>th.dt-ordering-asc, table.dataTable thead>tr>th.dt-ordering-desc, 
table.dataTable thead>tr>td.dt-orderable-asc, table.dataTable thead>tr>td.dt-orderable-desc, table.dataTable thead>tr>td.dt-ordering-asc, 
table.dataTable thead>tr>td.dt-ordering-desc{
  padding-right: 0px !important;
}
#myTableB table.dataTable thead>tr>th.dt-orderable-asc, table.dataTable thead>tr>th.dt-orderable-desc, 
table.dataTable thead>tr>td.dt-orderable-asc, table.dataTable thead>tr>td.dt-orderable-desc{
  width: 20%;
}
.recent{
  background-color: #FFFFFF;
    padding: 12px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recent h3 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #43424B;
  margin-bottom: 0px !important;
}
.view-reviews{
  align-items: center;
  display: flex;
  gap: 4px;
  padding-left: 10px;
}
.reviews span{
  color: #43424B;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  border: 1px solid #E7E8F2;
  border-radius: 5px;
}
.starA{
  color: #A6A9B7;
  cursor: pointer;
}
.checked{
  color: #FC9F35;
  cursor: pointer;
}
.reviews-fill p{
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #A6A9B7;
  margin-bottom: 0px !important;
}
.review-img img{
  width: 100%;
}
.belle-bowen{
  width: 96%;
  margin: 0px auto;
  overflow-y: scroll;
  height: 110px;
  overflow-x: hidden;
  overflow-y: auto;
}
.belle-bowen::-webkit-scrollbar{
  width: 7px;
}
.belle-bowen::-webkit-scrollbar-track{
  background-color: #F5F6FA;
}
.belle-bowen::-webkit-scrollbar-thumb{
  background-color: #1F2869;
  border-radius: 30px;
}
.bowen img{
  width: 20%;
  height: 45px;
  padding: 6px;
  border: 2px solid #EBEBEB;
  border-radius: 25px;
}
.bowen{
  display: flex;
  gap: 5px;
}
.belle-reviews h4{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #43424B;
  margin-bottom: 0px !important;
}
.fill{
  color: #A6A9B7;
  cursor: pointer;
}
.belle-reviews p{
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  color: #43424B;
  margin-bottom: 0px !important;
}
.reply-fill{
  color: #0072FF;
  font-size: 22px;
}
.reply span{
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #A6A9B7;

}
.review-views{
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 2px;
  height: 61vh;
  overflow-y: scroll;
}
.review-views::-webkit-scrollbar{
  display: none;
}
.recent-reviewA{
  background: #FFFFFF;
  margin-top: 20px;
  border-radius: 10px;
}
.bbq-review{
  display: flex;
  gap: 11px;
  align-items: center;
  /* width: 65%; */
}
.reviews-iconB{
  width: 16%;
}
.sidebar .nav-link:hover{
  background-color: #000000;
  border-radius: 38px 0px 0px 38px;
  padding: 10px 0px 10px 10px;
}
.select:hover{
  background-color: #000000;
  box-shadow: 0px 1px 2px 0px #0000001A;
  border-radius: 10px;
  padding: 3px;
}
#review{
  padding: 5px;
  outline: none;
  border: none;
  background: none;
}
div.dt-container div.dt-layout-row{
  margin: 0px !important;
}
/* ================================ */

.wrapper{
  width: 100%;
  padding: 30px;
  background-color: transparent;
  border-radius: 5px;
}

.wrapper .documentA{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid lightgrey;
  cursor: pointer;
  background-color: #EFF6FF;
}
form p{
opacity: 0;
}

section .content-A{
  background-color: #e9f0ff;
  margin:7px;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex ;
  align-items: center;
  justify-content: space-between;
}


section .content-A i{
  font-size: 30px;
  color: #6990f2;
}

section .details span{
  font-size: 14px;
}

.progress-area .content-A .content-B{
  width: 100%;
  margin-left: 10px;
}

.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.progress-area .progress-bar{
  height: 6px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 4px;
  border-radius: 30px;
}

.progress-bar .progress{
  height: 100%;
  width: 0%;
  background-color: #6990f2; 
  border-radius: inherit;
}

.uploaded-area{
  max-height: 160px;
  overflow-y: scroll;
}

.uploaded-area::-webkit-scrollbar{
  width: 0px;
}

.uploaded-area .content-A .content-B{
  display: flex;
  align-items: center;
}

.uploaded-area .content-A .details{
  display: flex;
  margin-left: 10px;
  flex-direction: column;
}

.uploaded-area .details .size{
  font-size: 11px;
  color: #404040;
}

.uploaded-area .ri-check-fill{
 font-size: 25px;
 color: #6990f2;
} 

.upload-img{
width: 15% !important;
}
.form-cardB{
  margin-top: 25px !important;
  width: 93%;
  margin-left: 20px;
}
.form-cardB{
background: #fff;
padding: 15px 13px;
border-radius: 12px;
/* width: 48%;
height: 407px; */
}
.user-name{
  display: flex;
  justify-content: space-between;
}
.form-groupA {
  width: 48%;
  /* margin-bottom: 15px; */
  /* margin-top: 15px; */
}
.form-groupC{
width: 48%;
margin-bottom: 15px;
}
#updateProfileBtnA{
    width: 48%;
    margin-top: 20px;
}
.menu {
  display: none;
}
.menu.show {
  display: block;
  /* background-color: #343A40; */
}
input {
  margin-right: 7px;
}
 a{
  text-decoration: none;
  color: #fff !important;
 }
.select span{
  overflow: hidden !important;
}
.user-iconA{
  width: 20px;
  position: absolute;
  margin-top: 13px;
  margin-left: 8px;
}
.username-email{
  padding-left: 33px !important;
  /* margin: 10px; */
}
.username-emailA{
  width: 20px;
  position: absolute;
  margin-top: .8%;
  margin-left: 5px;
}
.lock-icon{
  width: 20px;
  position: absolute;
  margin-top: 10px;
  margin-left: 7px;
}

 .fa-ellipsis-v{
  color: #1F2869;
 }
 .fa-caret-down{
  color: #FFFFFF;
 }
 .select{
  gap: 15px;
 }
 .selected{
  padding-left: 12px !important;
 }
/* --------------------------------------- */
/* ======================create-chef================== */
.create-chef{
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  width: 93%;
  margin-left: 20px;
}
#createchef{
  background-color: #F5F6FA;
  border-radius: 10px;
  padding: 5px 15px;
}
.new-B{
  margin-top: 15px !important;
}
.user-nameB{
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
#country{
  display: flex;
  justify-content: space-between;
  width: 100%;
  outline: none;
  border: none;
  padding: 12px;
  border-radius: 5px;
}
.username-emailA{
  width: 100%;
  padding: 12px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  font-size: 12px;
  color: #A6A9B7 !important;
  font-family: "Poppins", sans-serif;
}
.create-chefA{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #43424B;
}
.create-chefB{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px; 
  color: #A6A9B7;
}
.user-email{
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px !important; 
  color: #A6A9B7 !important;
}
textarea{
  width: 100%;
  /* padding: 10px; */
  border-radius: 5px;
  outline: none;
  border: none;
}
.qualification{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #A6A9B7;
  overflow: hidden;
}
.cuisine{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #A6A9B7;
}
.stars{
color: #FF9D00;
cursor: pointer;
}
.rating{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #A6A9B7;
}
.user-emailC{
  background-color: #FFFFFF;
  padding: 12px;
  border-radius: 5px;
}
.user-emailA{
  background-color: #FFFFFF;
  /* padding: 12px; */
  border-radius: 5px;
}
.upload-file{
  display: flex;
  gap: 25px;
}
.uploadDocument{
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  height: 240px;
  box-shadow: 0px 1px 2px 0px #0000000D;

}
.file img{
  width: 30%;
}
.file{
  display: flex;
  justify-content: center !important;
  margin-top: 35px;
}
.file-input{
  width: 30%;
}
.booking{
  display: flex;
  box-shadow: 0px 2px 16px 0px #00000017;
  padding: 0px;
  width: 94%;
  border-radius: 5px;
}
.file-input img{
width: 17%;
}
.description-section{
  width: 70%;
  background-color: #FFFF;
  padding: 10px;
  border-radius: 5px;
}
.description{
  width: 100%;
}
.user-emailB{
  /* background-color: #FFFFFF; */
  border-radius: 10px;
  padding: 10px;
}
.choose-file input{
  width: 100%;
  /* border: 1px solid #1F2869; */
  padding: 5px 0px;
}
.choose-file{
  padding: 20px 25px;
}
#descriptionB{
  width: 95% !important;
  border: 1px solid #D4D4D4;
  padding: 15px;
}
#file-input{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gender-group{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:  #43424B;
  padding-right: 15px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.gender{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #A6A9B7;
  margin-left: 7px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.gender-group label{
  margin-right: 15px;
}
.create-btn{
  width: 50%;
  margin-top: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #1F2869;
  box-shadow: 0px 3px 10px 0px #0000001A;
  padding: 10px;
}
.deleteA{
  color:  #EC4F4F;
  background-color: #fcd0d0;
  padding: 6px 8px;
  border-radius: 50px;
}
.icon-btn{
  width: 0px;
  position: absolute;
  right: 9.5%;
  margin-top: 45px;
  box-shadow: none;
  background: none;
}
.form-rowA{
  position: absolute;
  right: 3%;
  margin-top: -10px;
}
.fa-plus{
  color:  #1E9E5A !important;
  border: 1px solid #1E9E5A;
  padding: 6px 8px;
  font-weight: 400;
  font-size: 16px !important;
  border-radius: 50px !important; 
}
.plus-btn{
  background: none;
  box-shadow: none;
}

/* ======================= */
#input-document{
  width: 10% !important;
}
.dropdown-header{
  position: relative;
  bottom: -3px;
}
#city{
  display: flex;
    justify-content: space-between;
    width: 100%;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 5px;
}

